<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  
  <!-- 戸畑キャンパス  -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/tobata20141018.yaml" />; -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/201510110332.yaml" /> -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/201510210032-multi-scan.yaml" /> -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/201510232204-2.yaml" /> -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/201510240538.yaml" /> -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/tobata2016-gmapping-edited.yaml" /> -->
  <!-- ものつくり工房  -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/monotsukuri141031.yaml" /> -->
  
  <!-- 教育研究4号棟2階  -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_gmapping)/map/20151006_ctrl_building.yaml" /> -->
  <!-- 教育研究４号棟一階広場 -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/garden.yaml" /> -->
  <!-- Tsukuba Challenge 2014  -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/fullmap.yaml" /> -->

  <!-- Tsukuba Challenge 2015  -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/201511031134.yaml" />  -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/201511042000.yaml" />  -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/201511080238.yaml" />  -->
  <!-- Tsukuba Challenge 2016  -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/ooshimizu.yaml" /> -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/tukutyare2016_outside-8.yaml" />

  <!-- Tsukuba Kenshu Center -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_navigation)/map/kenshu_center.yaml" /> -->
  <!-- Waypoint marker -->
  
  <node pkg="ros_waypoint_generator" type="ros_waypoint_server" name="ros_waypoint_server" args="--load $(find waypoint_navigator)/waypoints/2016-11-06-11-32-09.csv" output="screen" />
  
  <!--- Run URG filter-->
  <include file="$(find cirkit_unit03_urg_filter)/launch/urg_laser_filter.launch" />

  <!--- Run AMCL -->
  <include file="$(find cirkit_unit03_navigation)/amcl/amcl_diff.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find cirkit_unit03_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find cirkit_unit03_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find cirkit_unit03_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find cirkit_unit03_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find cirkit_unit03_navigation)/config/base_local_planner_params.yaml" command="load" />
    <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="base_global_planner" value="carrot_planner/CarrotPlanner" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
    <param name="max_planning_retries" value="10" />
    <param name="oscillation_timeout" value="10.0" />
    <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
  </node>
</launch>
