<launch>
  <include file="$(find third_robot_gazebo)/launch/third_robot_clearpath_playpen.launch"/>

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="10 third_robot_2dnav_gazebo move_base.launch"
    name="timed_roslaunch_move_base" output="screen">
  </node>
  <!--include file="$(find third_robot_2dnav_gazebo)/launch/move_base.launch"/-->
  <include file="$(find third_robot_2dnav_gazebo)/amcl/amcl_diff.launch" />
  <!-- laserscan_merger should be executed after all launch files are called --> 
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="1 third_robot_merge_laser third_robot_laserscan_merger.launch"
    name="timed_roslaunch_merger" output="screen">
  </node>
</launch>
