<launch>
  <include file="$(find third_robot_gazebo)/launch/third_robot_clearpath_playpen.launch"/>

  <!--include file="$(find third_robot_2dnav_gazebo)/launch/move_base.launch"/-->
  <!--include file="$(find third_robot_2dnav_gazebo)/amcl/amcl_diff.launch" /-->

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="4 third_robot_2dnav_gazebo move_base.launch"
    name="timed_roslaunch_move_base" output="screen">
  </node>

  <!-- spawn human -->
  <param name="human_description"
      command="$(find xacro)/xacro.py '$(find human_model_gazebo)/urdf/human.xacro'" />
  <node name="urdf_spawner_human1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model steerbot -param human_description -x 3.85 -y -5 -z 1.8"/>
    <!-- <node pkg="topic_tools" type="relay" name="relay_base_cloud" args="/camera/depth/points /hokuyo3d/hokuyo_cloud2"/> -->
    <include file="$(find point_cloud_reducer)/launch/kinect_downsampler.launch"/>
    
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="6 third_robot_2dnav_gazebo amcl_diff.launch"
    name="timed_roslaunch_amcl" output="screen">
  </node>
  <!-- laserscan_merger should be executed after all launch files are called --> 
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="1 third_robot_merge_laser third_robot_laserscan_merger.launch"
    name="timed_roslaunch_merger" output="screen">
  </node>
</launch>
