<launch>
  <include file="$(find third_robot_gazebo)/launch/third_robot_clearpath_playpen.launch"/>

  <!--include file="$(find cirkit_unit03_navigation__gazebo)/launch/move_base.launch"/-->
  <!--include file="$(find cirkit_unit03_navigation__gazebo)/amcl/amcl_diff.launch" /-->

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="4 cirkit_unit03_navigation_gazebo move_base.launch"
    name="timed_roslaunch_move_base" output="screen">
  </node>

  <!-- spawn human -->
  <!--
  <include file="$(find cirkit_unit03_navigation_gazebo)/launch/spawn_human.launch"/>
  -->
  <param name="human_description1"
      command="$(find xacro)/xacro.py '$(find human_model_gazebo)/urdf/human.xacro'" />
  <node name="urdf_spawner_human1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model human1 -param human_description1 -x 7.2 -y 0.49 -z 0.34 -R 0 -P 0 -Y -3.05"/>

  <param name="human_description2"
      command="$(find xacro)/xacro.py '$(find human_model_gazebo)/urdf/human.xacro'" />
  <node name="urdf_spawner_human2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model human2 -param human_description2 -x 5.7 -y 7.2 -z 0.3 -R 0.001 -P 0 -Y -1.6"/>
    <!-- <node pkg="topic_tools" type="relay" name="relay_base_cloud" args="/camera/depth/points /hokuyo3d/hokuyo_cloud2"/> -->
    <include file="$(find point_cloud_reducer)/launch/kinect_downsampler.launch"/>
    
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="6 cirkit_unit03_navigation_gazebo amcl_diff.launch"
    name="timed_roslaunch_amcl" output="screen">
  </node>
  <!-- laserscan_merger should be executed after all launch files are called --> 
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="1 third_robot_merge_laser third_robot_laserscan_merger.launch"
    name="timed_roslaunch_merger" output="screen">
  </node>
</launch>
