<launch>
  <include file="$(find third_robot_driver)/launch/third_robot.launch"/>
  <include file="$(find third_robot_2dnav)/launch/third_robot_configuration.launch"/>
  
  <include file="$(find third_robot_description)/launch/third_robot.launch">
	<arg name="model" value="$(find third_robot_description)/urdf/third_robot.urdf"/>
  </include>

  <include file="$(find third_robot_lower_step_detector)/launch/lower_step_detector.launch" />
  
  <include file="$(find third_robot_merge_laser)/launch/third_robot_laserscan_merger.launch" />

  <include file="$(find third_robot_2dnav)/launch/move_base.launch"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find third_robot_2dnav)/config/autorun.rviz" required="true" />
  

</launch>
