<launch>
    <param name="hokuyo_node0/port" value="/dev/sensors/hokuyo_H1101683"/>
	<param name="hokuyo_node0/frame_id" value="front_bottom_lrf"/>
	<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node0" output="screen">
	  <remap from="hokuyo_node" to="hokuyo_node0" />
	  <remap from="scan" to="base_scan" />
	  <param name="min_ang" type="double" value="-2.0" />
      <param name="max_ang" type="double" value="2.0" />
	</node>
 	<param name="hokuyo_node1/port" value="/dev/sensors/hokuyo_H1101524"/>
	<param name="hokuyo_node1/frame_id" value="front_top_lrf"/>
	<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node1" output="screen">
	  <remap from="hokuyo_node" to="hokuyo_node1" />
	  <remap from="scan" to="base_scan1" />
	  <!-- <param name="min_ang" type="double" value="-2.0" /> -->
      <!-- <param name="max_ang" type="double" value="2.0" /> -->
	</node>

 	<param name="hokuyo_node2/port" value="/dev/sensors/hokuyo_H0807317"/>
	<param name="hokuyo_node2/frame_id" value="rear_bottom_lrf"/>
	<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node2" output="screen">
	  <remap from="hokuyo_node" to="hokuyo_node2" />
	  <remap from="scan" to="base_scan2" />
	  <param name="min_ang" type="double" value="-2.0" />
      <param name="max_ang" type="double" value="2.0" />
	</node>

	<!-- <node pkg="lrf_tcp_ip" type="lrf_tcp_ip_node" name="lrf_tcp_ip" output="screen"> -->
	<!--   <param name="LRFportname" value="192.168.0.20" /> -->
	<!--   <parma name="isIntensity" value="false" /> -->
	<!-- </node> -->

</launch>
